@(myForm: DynamicForm)

@import helper._

@main("Waphel") {

<div class="masterhead">
		<div class="container-fluid">
			<h1>Waphel</h1>
			<p>A recommendation engine for finding relevance between Wikipedia pages and a beautiful visualization tool for searching the Wikipedia.</p>
		</div>
</div>

		<div class="container-fluid waphel-search">
			@form(routes.Application.searchResult()) {
			<div class="ui-widget">
				<div class="form-search">
						
						<input id="titleSearch" type="text" class="input-xlarge" name="pageTitle" placeholder="Type the title of a Wikipedia page...">
	    				<button type="submit" class="btn btn-primary">Search</button>

	  			</div>
  			</div>
  			}

		</div>


		

		
    
    
}