.container {
  position: relative;
         /* make this a containing block! */
}
.center {
  margin: 0 auto;
  display: block;

  
}


.bar {
	display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override this later */
    background-color: teal;
    margin-right: 2px;

}

.pumpkin {
	fill: rgba(45, 34, 0, 1);

    stroke: rgba(56, 78, 0, 1);
    stroke-width: 10;
    
 }

 .pumpkin1 {
	fill: rgba(45, 34, 0, 1);

    stroke: rgba(56, 78, 0, 1);
    stroke-width: 2;
    
 }

 .child {
    max-height:150px;
    overflow: auto;
    width: 150px;
}

 
 